# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

web/.sass-cache
web/.sass-cache/*
web/.sass-cache/ccacf00cf70a02657405b00a1272f14c32263e96/dev.scssc
web/src/styles/.sass-cache
web/src/styles/.sass-cache/*

node_modules/

.env